:root {
    --base-layer: #001F25;
    --first-layer: #002936;
    --trans-layer: #00293680;
    --second-layer: #004257;
    --font-color: #f2f3f4;
    --accent: #00FF94;
    --accent-dark: #00A99D;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    z-index: 0;
    opacity: 0;
}

i{
    line-height: 1 !important;
}

ul {
    list-style: none;
}

a {
    color: var(--font-color) !important;
}

header {
    background: var(--first-layer);
    height: 6rem;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: space-between;
}

.nav-overlay{
    transform: translateX(100%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: var(--base-layer);
    transition: all .4s cubic-bezier(.14, .8, .4, 1);
}

.nav-overlay-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.nav-overlay-container .logo{
    height: min-content;
    width: 10rem;
}

.nav-overlay-container ul{
    flex-direction: column;
    height: min-content;
}

.menu-open{
    transform: translateX(0);
    transition: all .4s cubic-bezier(.14, .8, .4, 1);
}


button {
    background: none;
    line-height: 0;
    padding: .5rem;
    color: var(--accent);
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .4s cubic-bezier(.14, .8, .4, 1);
}

button:hover {
    color: var(--accent-dark);
    transition: all .4s cubic-bezier(.14, .8, .4, 1);
}

.logo {
    height: 100%;
    width: 8rem;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 4.2rem;
    margin: 1rem 0 3rem 0;
    user-select: none;
}


nav {
    display: flex;
    justify-content: flex-start;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

nav li a {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .15em;
    position: relative;
    display: block;
}

nav li a::before {
    content: "";
    position: absolute;
    display: block;
    top: 103%;
    width: 100%;
    margin-left: -0.075em;
    opacity: 0;
    height: 3px;
    transform: scaleX(0);
    transition: all .8s cubic-bezier(.14, .8, .4, 1);
    background: #BF52BF;
    border-radius: 5rem;
}

nav li a:hover::before {
    position: absolute;
    transform: scaleX(1);
    opacity: 1;
    background: var(--accent);
    box-shadow: 0 0 4px var(--accent);
    transition: all .2s cubic-bezier(.14, .8, .4, 1);
}

li .current-page::after {
    content: "";
    position: absolute;
    display: block;
    top: 103%;
    width: 100%;
    margin-left: -0.075em;
    height: 3px;
    background: var(--accent);
    box-shadow: 0 0 4px var(--accent);
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hamburger-menu{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu-toggle-icon {
    z-index: 3;
    width: 32px;
    cursor: pointer;
    transition: all .3s;
}
  
.menu-toggle-icon .bar {
    display: block;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
    height: 2px;
    background: var(--accent);
    transition: all .35s;
    position: relative;
    transform-origin: center;
    transition: all 1s cubic-bezier(.14,.8,.4,1);
  }

.menu-toggle-icon:hover > .bar{
    background: var(--accent-dark);
    box-shadow: 0 0 16px var(--accent-dark);
    transition: all .1s cubic-bezier(.14,.8,.4,1); 
}
  
.bar + .bar{
    margin-top: 8px;
}

.menu-toggle-open .bar:nth-child(1) {
    animation: cubic-bezier(.14,.8,.4,1) .35s top forwards;
  }
  
.menu-toggle-closed .bar:nth-child(1) {
    animation: cubic-bezier(.14,.8,.4,1) .35s top-2 forwards;
  }
  
.menu-toggle-open .bar:nth-child(2) {
    transform-origin: right;
    animation: cubic-bezier(.14,.8,.4,1) .35s scaled forwards;
  }
  
.menu-toggle-closed .bar:nth-child(2) {
    transform-origin: left;
    animation: cubic-bezier(.14,.8,.4,1) .35s scaled-2 forwards;
  }
  
.menu-toggle-open .bar:nth-child(3) {
    animation: cubic-bezier(.14,.8,.4,1) .35s bottom forwards;
  }
  
.menu-toggle-closed .bar:nth-child(3) {
    animation: cubic-bezier(.14,.8,.4,1) .35s bottom-2 forwards;
  }

input[type=submit], .button span {
    color: var(--font-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: linear-gradient(135deg, var(--accent) 0%, var(--accent-dark) 100%);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .2s cubic-bezier(.14, .8, .4, 1);
    width: min-content;
    text-transform: uppercase;
}

input[type=submit]:hover, .button:hover {
    filter: brightness(0.8);
}

.generate-button{
    position: absolute;
    bottom: 5rem;
}

.button>.delete {
    background: linear-gradient(135deg, red 0%, tomato 100%);
}

.edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo {
    display: flex;
    justify-content: center;
    height: 4rem;

}

.button {
    display: flex;
    justify-content: center;
    transition: all .2s cubic-bezier(.14, .8, .4, 1);
    cursor: pointer;
}

input {
    transition: all .2s cubic-bezier(.14, .8, .4, 1);
}

input:disabled,
input:disabled+.focus-input,
select:disabled,
select:disabled+.focus-input {
    color: rgb(72, 87, 82);
}

.profile-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3rem;
    border: 2px solid var(--accent);
    cursor: pointer;
}

.profile-name {
    user-select: none;
    filter: brightness(.7);
}

.profile-img img {
    border-radius: 3rem;
}

.detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--first-layer);
    border-radius: 1rem;
}

.track-title {
    font-size: 2rem;
    font-weight: 600;
}

.track-genre {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--accent);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

body {
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    color: var(--font-color);
    background-color: var(--base-layer);
    text-rendering: optimizeLegibility;
}

main {
    height: 100%;
    min-height: calc(100vh - 6rem);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.side-by-side {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.form-wrapper {
    width: 35rem;
    max-width: 100%;
    min-width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 3rem 2rem 3rem;
    background-color: var(--first-layer);
    border-radius: 1rem;
}

.form-title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
}

.form-title>span {
    font-weight: 700;
    font-size: 1.2rem;
}

.input-label {
    font-size: 0.9rem;
    line-height: 1.5;
    padding-left: 7px;
    color: var(--font-color);
}

.input-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--accent-dark);
}

.input-box {
    user-select: auto;
    color: var(--font-color);
    font-size: 1rem;
    line-height: 1.2;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 35px;
    font-weight: 400;
}

.focus-input {
    position: absolute;
    color: var(--accent-dark);
    top: 55%;
    left: .6rem;
    transition: all .3s cubic-bezier(.14, .8, .4, 1);
}

.input-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--accent);
    box-shadow: 0 0 4px var(--accent);
    transition: all .5s cubic-bezier(.14, .8, .4, 1);
}

.focused.input-wrapper::after {
    width: 100% !important;
}

.input-box:focus+.focus-input {
    color: var(--accent);
}

.error {
    color: tomato;
    padding-left: 1rem;
    font-size: 0.9rem;
}

.table-wrapper {
    padding: 2rem !important;
    border-radius: 1rem;
    background-color: var(--first-layer);
    margin-bottom: 2rem;
}

table {
    table-layout: fixed;
}

table,
th,
td {
    border: none;
    text-align: center;
    padding: 1rem;
    font-size: 1em;
    border-collapse: collapse;
}

th {
    min-width: 10rem;
    font-weight: 600;
}

tr {
    transition: all .2s cubic-bezier(.14, .8, .4, 1) !important;
}

tr:not(:last-child) {
    border-bottom: solid 1px var(--second-layer);
}

tr:not(:first-child):hover {
    cursor: pointer;
    background-color: var(--second-layer) !important;

}

.state-box {
    background-color: var(--first-layer);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    border: solid 2px var(--accent-dark);
    position: fixed;
    top: 8rem;
    right: 1rem;
    transform: translateX(0);
    opacity: 1;
    transition: all .4s cubic-bezier(.14, .8, .4, 1) !important;
}

.hidden {
    transform: translateX(15rem);
    opacity: 0;
}

.hiddenform {
    display: none !important;
}

.usr-info {
    background-color: var(--first-layer);
    padding: 2rem;
    border-radius: 1rem;
}

select * {
    background: var(--first-layer);
    border: none;
}

.schlingel {
    color: tomato;
    padding-bottom: 3rem;
}

.comets-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-content: center;
    justify-items: center;
    width: 75%;
}

.comet-card{
    background-color: var(--trans-layer);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 28rem;
}

.comet-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    gap: 1rem;
}

.play-btn > i{
    font-size: 1.3rem;
    color: var(--accent);
}

.comet-title{
    font-size: 1.3rem;
    color: var(--accent);
    font-weight: 300;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.comet-header img{
    border-radius: 5rem;
    height: 100%;
    width: 100%;
}

.comet-creator{
    font-size: 0.8rem;
}

.comet-creator > span{
    color: var(--accent);
}

.comet-creator-img{
    height: 1.8rem;
    border: 2px solid var(--accent);
    border-radius: 5rem;
}

.comet-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    height: 100%;
}

.comet-track{
    background-color: var(--base-layer);
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 0.5rem;
}

.fade {
    animation: fadeIn .25s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;

    }
}

@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }
  
@keyframes top-2 {
    0% {
      top: 10px;
      transform: rotate(45deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
@keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(-45deg);
    }
  }
  
@keyframes bottom-2 {
    0% {
      bottom: 10px;
      transform: rotate(-45deg);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
@keyframes scaled {
    80% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(0);
    }
  }
  
@keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    30% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }


/* poppins-200 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: local(''),
        url('../fonts/poppins-v20-latin-200.woff2') format('woff2')
        /* Super Modern Browsers */
}

/* poppins-300italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: local(''),
        url('../fonts/poppins-v20-latin-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-500italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: local(''),
        url('../fonts/poppins-v20-latin-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
}

/* poppins-700italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../fonts/poppins-v20-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
}


@media only screen and (max-width: 880px) {
    .mobile-show {
        display: inherit;
        opacity: 1 !important;
        transform: translateX(0) scaleX(1) !important;
        transition: all .4s cubic-bezier(.14,.8,.4,1);
    }
    .mobile-hide {
        opacity: 0 !important;
        width: 0 !important;
        transform: translateY(-50px) !important;
        transition: all .4s cubic-bezier(.14,.8,.4,1);
    }

    header{
        height: 4rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .profile-img{
        height: 2rem;
        width: 2rem;
    }
}
